<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminShowUsersController</servlet-name>
    <servlet-class>controller.admin.AdminShowUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowUsersController</servlet-name>
    <url-pattern>/admin/showusers</url-pattern>
  </servlet-mapping>


  <servlet>
      <servlet-name>AdminCreateUsersController</servlet-name>
      <servlet-class>controller.admin.AdminCreateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>AdminCreateUsersController</servlet-name>
      <url-pattern>/admin/createuser</url-pattern>
  </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminUpdateUsersController</servlet-name>
        <servlet-class>controller.admin.AdminUpdateUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUpdateUsersController</servlet-name>
        <url-pattern>/admin/updateuser</url-pattern>
    </servlet-mapping>

  <jsp-config>
    <jsp-property-group>
      <display-name>header_and_footer</display-name>
      <url-pattern>/WEB-INF/login/*</url-pattern>
      <url-pattern>/pages/*</url-pattern>
      <url-pattern>/WEB-INF/errors/*</url-pattern>
      <url-pattern>/user/*</url-pattern>
      <url-pattern>/manager/*</url-pattern>
      <url-pattern>/admin/*</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
      <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>

  <security-constraint>

    <web-resource-collection>
      <web-resource-name>Admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>

    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>

  </security-constraint>

  <security-constraint>

    <web-resource-collection>
      <web-resource-name>Manager</web-resource-name>
      <url-pattern>/manager/*</url-pattern>
    </web-resource-collection>

    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>manager</role-name>
    </auth-constraint>

  </security-constraint>
  <security-constraint>

    <web-resource-collection>
      <web-resource-name>User</web-resource-name>
      <url-pattern>/user/*</url-pattern>
    </web-resource-collection>

    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>manager</role-name>
      <role-name>user</role-name>
    </auth-constraint>

  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>JDBCRealm</realm-name>
    <form-login-config>
      <form-login-page>/WEB-INF/login/login.jsp</form-login-page>
      <form-error-page>/WEB-INF/errors/error.jsp</form-error-page>
    </form-login-config>
  </login-config>

</web-app>
